@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque:300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css2?family=Special+Elite&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Special+Elite&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=IM+Fell+DW+Pica+SC&family=Special+Elite&display=swap);

a{
    color:black;
    font-size: 40px;
    font-family:"Amatic SC";
}
.dropdown-item{
    font-size: 35px;
}

.nav-link{  
    border-style:inset;
    border-color:grey;
}

.image-back{
    background-image:url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
}

#navigatebar{
    background-color: white;
}

.books{
   width:150px;
   height:150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
   margin-top: 5px;
}

#name{  
    font-family:"Amatic SC";
    font-size:55px;
    padding-right:15px;
}

.card {
    border-radius: 30px;
    background-color:white;
    margin-top: 5px;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:15px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right:30px;
    font-size: 12px;
    font-weight:normal;
}

.nav-item:hover{
    background-color: lawngreen;
}

.dropdown-menu a:hover{
   float: right;
   background-color: lawngreen;
}
.dropdown-menu{
    position: absolute;
    transform: translate(300%, 0)
}


.title{
    font-size:25px;
    font-weight: bold;
}

h4{
    font-size: 22px;
    font-family:'Grotesque'
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
}
h2{
font-size: 32px;
font-family:'Roboto Condensed'
}
#nameb{
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-top:30px;
}
p{
    font-family: 'Special Elite', cursive;
}

.price{
font-size: 20px;
margin-top: auto;
margin-left: auto;
margin-right: auto;
}

.carousel-item{
    height: 32rem;
    background: #777;
    color:white;
    position:relative;
    text-align: center;
    
}

.container{

    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:50px;

}
.overlay-image{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    background-position:center;
    background-size:cover;
    opacity: 0.4;
}


.remover{
    display: none;
}